body, html {
	height: 100%;
}

body {
	background-color: #ade;
}

.wrapper {
	margin: 0 auto;
	max-width: 360px;
	position: relative;
}

.button {
	color: #fff;
	font-family: Raleway;
	margin: 20px auto;
	display: block;
	box-sizing: border-box;
	border: none;
	border-bottom: 4px solid #9C2123;
	border-radius: 4px;
	width: 224px;
	height: 50px;
	background-color: #DE2C2F;
	outline: none;
}

.button:hover {
	background-color: #F12;
}

.button:active {
	border-bottom: 2px solid #9C2123;
	height: 48px;
	margin-top: 22px;
}

.slot {
	padding: 3px;
	border-radius: 4px;
	margin: 0 auto;
	display: block;
	width: 220px;
	height: 0px;
	background-color: #555;
	position: relative;
}

.quote-wrapper {
	margin: 0;
	padding: 0 20px;
	border-bottom: 2px dotted #ade;
	background-color: #FFF6aa;
	overflow: hidden;
}

.quote-wrapper:last-child {
	border-bottom: none;
}

.quote, .author {
	color: #333;
	font-family: Raleway;
	margin: 0;
}

.quote {
}

.author {
	font-weight: 600;
	text-align: right;
	margin: 20px 0;
	font-size: 12px;
}