body, html {
	height: 100%;
}

body {
	background-color: #ade;
}

.wrapper {
	margin: 0 auto;
	width: 260px;
}

.button {
	color: #fff;
	font-family: Raleway, Lato, Roboto, sans-serif;
	margin: 20px auto;
	display: block;
	border: none;
	border-bottom: 4px solid #9C2123;
	border-radius: 4px;
	width: 224px;
	height: 50px;
	background-color: #DE2C2F;
	
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
	user-select: none;
}

.button:focus {
	outline: none;
}

.button:hover {
	background-color: #FF1122;
}

.button:active {
	border-bottom: 2px solid #9C2123;
	height: 48px;
	margin-top: 22px;
}

.slot {
	padding: 3px;
	border-radius: 4px;
	margin: 0 auto;
	display: block;
	width: 220px;
	height: 0;
	background-color: #555;
	position: relative;
}

.quote-wrapper {
	margin: 0;
	padding: 0 20px;
	border-bottom: none;
	background-color: #FFF6aa;
	overflow: hidden;
	cursor: default;
	
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
	user-select: none;
}

#printer .quote-wrapper {
	border-bottom: 2px dotted #ade;
}

.quote, .author {
	color: #333;
	font-family: Raleway, Lato, Roboto, sans-serif;
	margin: 0;
}

.author {
	font-weight: 600;
	text-align: right;
	margin: 20px 0;
	font-size: 12px;
}